body{
   font-family: arial, sans-serif;    
}
 table {
    width: 100%;
    border-collapse: collapse;
 }

 th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
 }

 th {
   background-color: #2f2f2f;
 }

 input[type="number"] {
   width: 60px;
 }

 button{
   background-color: blue;
   color: white;
   padding: 6px 10px;
   border none;
   cursor: pointer;
 }

 button:hover {
   background-color: #45a049;
 }